{% extends 'base.html' %}



{% block content %}



<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">View Time Table</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Home</a></li>
    <li class="breadcrumb-item active">Set Fee</li>
    </ul>
    </div>
    </div>
    </div>
    {% include 'includes/messages.html' %}

    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">
    <form action="{% url 'update_fee' feeid.id %}" method="post" id="setfee">
         {% csrf_token %}
         
    <div class="row">
   



   
   
    <div class="col-12 col-sm-6">
    <div class="form-group mx-3 sm-mx-4">
    <label class="mx-2 sm-mx-4">Class</label>
   <input type="text" class="form-control" value="{{feeid.student_class}}" readonly>
</div>
    </div>
    
  
    <div class="col-12 col-sm-6">
    <div class="form-group mx-2 md-mx-auto">
    <label>Session</label>
   <input type='text' class="form-control" value="{{feeid.session}}" readonly>
    </div>
    

</div>
    </div>

<div class="row">
   



   
   
    
    
    <div class="col-8 col-sm-6">
        <div class="form-group mx-2 md-mx-auto">
            <label>Monthly Fee</label>
            <input type="number" class="form-control" id="monthly" name="monthly_fee" value="{{feeid.monthly_fee}}" required>
        </div>
        
        
    </div>
    
    
    
    <div class="col-8 col-sm-6">
    <div class="form-group mx-3 sm-mx-4">
    <label class="mx-2 sm-mx-4">Exam Fee</label>
    <input type="number" class="form-control" name="exam_fee" value="{{feeid.exam_fee}}" id="exam_fee" required>
      

    
</div>
    </div>





       
    
    <div class="col-8 col-sm-6">
        <div class="form-group mx-2 md-mx-auto">
            <label>Other Fee</label>
            <input type="number" class="form-control" name="other_fee" value="{{feeid.other_fee}}" id="Other_fee" required >
        </div>
        
        
    </div>




</div>





  




<div class="col-12 mx-2 text-center py-5">
    <button type="submit" class="btn btn-primary">UPDATE FEE</button>
</div>

</div>
    </form>
    </div>
    </div>
    </div>
    </div>


</div>

    



<script>

    window.addEventListener('DOMContentLoaded',function(){

        
        setfee=document.getElementById('setfee');
        setfee.addEventListener('submit',function(event){
            monthly=document.getElementById('monthly').value;
            otherfee=document.getElementById('Other_fee').value;
            examfee=document.getElementById('exam_fee').value;
            Class=document.getElementById('Sclass').value;
            session=document.getElementById('sessionid').value;

            
            if (monthly=='' || monthly =='0'){
                alert('Monthly Fee Can Not Be Zero or empty');
                event.preventDefault();

            }
            if(otherfee=='' || examfee==''){
                alert('Exam Fee or Other fee cant be empty');
                event.preventDefault();

            }
            if(Class=='select_class' || session=='select_session'){

                alert('Class or Session Must be cant Selected');
                event.preventDefault();

            }



        })




    })

</script>










{% endblock  %}