{% extends 'base.html' %}

{% block content  %}
<div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Send Teachers Notification</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'hod_home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Send Teachers Notification</li>
          </ul>
        </div>
        <div class="col-auto text-right float-right ml-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                view all notification
              </button>


              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendnotifications">
                Send Notification To All
              </button>
        </div>
      </div>
    </div>
  {% include 'includes/messages.html' %}

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table

             id="table_id"   class="table table-hover table-center mb-0 "
              >
                <thead>
                  <tr>
                    <th>Sr No</th>

                      &nbsp; <th>Name</th>
                
                    
                    <th>Email</th>
                    



                    
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in Teacher %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                      <h2 class="table-avatar">
                        <a
                          href="student-details.html"
                          class="avatar avatar-sm mr-2"
                          ><img class="avatar-img rounded-circle" src="/{{ i.admin.profile_pic }}" alt="User Image"/></a>
                        <a href="student-details.html">{{ i.admin.first_name}} &nbsp;{{ i.admin.last_name }}</a>
                      </h2>
                    </td>
                
                    
                     
                     <td>{{ i.admin.email }}</td>
                 
                  
                   
                   


                    <td class="text-right">
                      <div class="actions">
                       <button class="btn btn-success"  data-toggle="modal" data-target="#sendnotification-{{forloop.counter}}">Send Notification</button>
                      
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       


<!-- View Notification -->


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Show All Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">




            <div class="row">
                <div class="col-sm-12">
                  <div class="card card-table">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table
          
                       id="table_id"   class="table table-hover table-center mb-0 "
                        >
                          <thead>
                            <tr>
                              
          
                                 <th style="width:60%;">Messages</th>
                          
                              
                              <th  style="width:30%;" class="text-center">Status</th>
                              
          
          
          
                              
                           
                            </tr>
                          </thead>
                          <tbody>
                              {% for i in messag %}
                            <tr>
                              <td class="text-left">{{ i.message}}</td>
                              
                           
                              
                               
                             
                           
                            
                             
                             
          
          
                              <td class="text-right">
                                {% if i.status == 0 %}
                                 <span class="btn badge badge-danger ">has not read</span>
                                 {% else %}
                                 <span class="btn badge badge-success pr-3 ">has read</span>
                                {% endif %}
                                
                              </td>
                            </tr>
                            {% endfor %}
                           
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% comment %} </div> {% endcomment %}
                 
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>



  <!-- Send Notification -->

{% for i in Teacher %}
<div class="modal fade" id="sendnotification-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Send Notification To {{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


            <form method="post" action="{% url 'save_notification' %}">
                 {% csrf_token %}
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label ">Write Message</label>
                  <div class="col-sm-10 mt-2">
                    <input type="text"  class="form-control h-100" name="mess" required>
                    <input type="text"  class="form-control" name="Teacher_id" value="{{i.admin.id}}" hidden>
                  <input type="text"  class="form-control" name="All" value="One" hidden>


                  </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Send</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                  </div>
            
              </form>


          
        </div>
        
      </div>
    </div>
  </div>

{% endfor %}







<div class="modal fade" id="sendnotifications" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Send Notification To All</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


          <form method="post" action="{% url 'save_notification' %}">
               {% csrf_token %}
              <div class="form-group row">
                <label class="col-sm-2 col-form-label ">Write Message</label>
                <div class="col-sm-10 mt-2">
                  <input type="text"  class="form-control h-100" name="mess" required>
                  <input type="text"  class="form-control" name="All" value="All" hidden>

                </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" >Send</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
          
            </form>


        
      </div>
      
    </div>
  </div>
</div>














{% endblock  %}